{% comment %} snippets/content-block.liquid {% endcomment %}
{% case block.type %}
  {% when 'contact-form' %}
    <div class="contact-us-form">
      <h3>{{ block.settings.heading }}</h3>
      {% form 'contact' %}
        {% if form.posted_successfully? %}
          <p class="form-success">{{ 'templates.contact.form.post_success' | t }}</p>
        {% endif %}

        {{ form.errors | default_errors }}

        <div class="form-fields">
          <div class="filed-full name-filed">
            <label for="ContactFormName">{{ 'templates.contact.form.name' | t }}</label>
            <input
              type="text"
              id="ContactFormName"
              name="contact[name]"
              class="filed-full"
              required
            >
          </div>

          <div class="email-phone-fields">
            <div class="filed-50 email-filed">
              <label for="ContactFormEmail">{{ 'templates.contact.form.email' | t }}</label>
              <input type="email" id="ContactFormEmail" name="contact[email]" required>
            </div>

            <div class="filed-50 phone-filed">
              <label for="ContactFormPhone">{{ 'templates.contact.form.phone' | t }}</label>
              <input type="tel" id="ContactFormPhone" name="contact[phone]" required>
            </div>
          </div>

          <div class="filed-full message-filed">
            <label for="ContactFormMessage">{{ 'templates.contact.form.comment' | t }}</label>
            <textarea
              id="ContactFormMessage"
              name="contact[body]"
              rows="4"
              class="filed-full"
              required
            ></textarea>
          </div>
        </div>

        <button type="submit" class="darkblue-btn">
          {{ block.settings.button_text }}
        </button>
      {% endform %}
    </div>

  {% when 'contact-info' %}
    <div class="contact-us-info">
      <h3>{{ block.settings.heading }}</h3>
      <div class="contact-info-col">
        <p class="contact-address">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="#208fa3"
            width="20px"
            height="20px"
            style="vertical-align: middle; margin-right: 10px;"
          >
            <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
          </svg>
          {{ block.settings.address }}
        </p>

        <div class="contact-hours">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="#208fa3"
            width="20px"
            height="20px"
            style="vertical-align: middle; margin-right: 10px;"
          >
            <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm.5-13H11v6l5.25 3.15.75-1.23-4.5-2.67z"/>
          </svg>
          {{ block.settings.hours }}
        </div>

        <div class="contact-details">
          <p class="contact-email">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="#208fa3"
              width="20px"
              height="20px"
              style="vertical-align: middle; margin-right: 10px;"
            >
              <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/>
            </svg>
            <a href="mailto:{{ block.settings.email }}">{{ block.settings.email }}</a>
          </p>

          <p class="contact-phone">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="#208fa3"
              width="20px"
              height="20px"
              style="vertical-align: middle; margin-right: 10px;"
            >
              <path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"/>
            </svg>
            {{ 'templates.contact.form.phone' | t }}:
            <a href="tel:{{ block.settings.phone }}">{{ block.settings.phone }}</a>
          </p>
        </div>

        <a href="{{ block.settings.map_link }}" class="borderblue-btn" target="_blank">
          {{ block.settings.directions_text }}
        </a>

        <div class="map-container">
          <iframe
            title="Google Map"
            src="{{ block.settings.map_embed }}"
            width="100%"
            height="250"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>

  {% when 'custom-html' %}
    <div class="custom-content">
      {{ block.settings.custom_liquid }}
    </div>

  {% else %}
    <div class="content-block-error">Block type "{{ block.type }}" not recognized</div>
{% endcase %}
